parts-manager/src/main/resources/hello.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.com/demo"
				  targetNamespace="http://example.com/demo">
	<wsdl:types>
		<xs:schema xmlns="http://example.com/demo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://example.com/demo">

			<xs:element name="HelloRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="HelloResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="greeting" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="HelloRequest">
		<wsdl:part element="tns:HelloRequest" name="HelloRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="HelloResponse">
		<wsdl:part element="tns:HelloResponse" name="HelloResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="HelloPort">
		<wsdl:operation name="Hello">
			<wsdl:input message="tns:HelloRequest" name="HelloRequest">
			</wsdl:input>
			<wsdl:output message="tns:HelloResponse" name="HelloResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HelloPortSoap11" type="tns:HelloPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Hello">
			<soap:operation soapAction=""/>
			<wsdl:input name="HelloRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HelloResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HelloPortService">
		<wsdl:port binding="tns:HelloPortSoap11" name="HelloPortSoap11">
			<soap:address location="http://localhost:8082/ws"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>